.add-job-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-job-card {
  width: 400px;
  padding: 40px;
  border-radius: 20px;
  background: white;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
}

/* Title */
.add-job-card h1 {
  margin-bottom: 25px;
  color: #2c3e50;
}

/* Inputs */
.add-job-card input,
.add-job-card textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
}

/* Button */
.add-job-card button {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(135deg, #36d1dc, #5b86e5);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.add-job-card button:hover {
  transform: scale(1.05);
}